.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }

  .wrapper.home-2-testimonial-wrapper {
    padding-top: 0;
    padding-bottom: 0;
}

.wrapper {
    position: relative;
    z-index: 10;
    width: 85%;
    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 90px;
    padding-bottom: 90px;
    justify-content: space-between;
    align-items: center;
}

.background-image-wrapper {
    position: relative;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(https://uploads-ssl.webflow.com/62223080a06c83f03859b176/62645c2c1dc070367b367279_Home_bg.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gradient-background {
    background: linear-gradient(300deg, #00bfff, #7f7cb0, #ffffff);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
} 

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } 